[submodule "core"]
	path = core
	url = https://exprezzo@github.com/exprezzo/marinamvc.git
[submodule "marinamod"]
	path = marinamod
	url = https://exprezzo@github.com/exprezzo/marina_mod.git
[submodule "modulos/backend"]
	path = modulos/backend
	url = https://exprezzo@github.com/exprezzo/backend_mod.git
